<div class="container">
  <div class="cor-card">
    <div>
      <br>
      <br>
      <br>
    </div>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <img src="assets/images/fundo1.png" width="100%">
    </mat-toolbar>

    <div class="cor-card">
      <div class="cor-card" style="padding-bottom: 3em;"></div>
      <div class="cor-card">
        <br />


        <div cor-card fxLayout="column" fxLayoutAlign="center center">
          <p class="titulo">Contagem Regressiva </p>
          <br />

          <p class="texto">
            Nosso lançamento sera em:
          </p>

          <div fxLayout="column" fxLayoutAlign="center center">

            <div class="timer">
              <span id="days"> {{daysToDday}} </span>Dia(s)
              <span id="hours"> {{hoursToDday}} </span>Hora(s)
              <span id="minutes"> {{minutesToDday}} </span>Minuto(s)
              <span id="seconds"> {{secondsToDday}} </span>Segundo(s)
            </div>
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />


        <mat-card class="cor-card-vermelho">
          <br />
          <br />
          <div fxFlex="row">
            <br />
            <div fxFlex="column" fxLayoutAlign="center center">

              <p class="titulo-branco">Fique por dentro e garanta descontos exclusivos! </p>
              <br />
              <br />
              <br />
            </div>

          </div>
          <br />
          <br />
        </mat-card>
        <br />
        <br />



        <div>
          <div class="cor-card" fxLayout="row">
            <div fxFlex="45%" fxLayoutAlign="start center">
              <img src="assets/images/pxpx.png" width="500" height="600" />

            </div>

            <div fxFlex="55%" fxLayout="column" fxFlex="55%">
              <div>
                <h2 class="titulo">
                  <b>Informações</b>
                </h2>
              </div>
              <p>
                O Px Nutri é um software de automação que está sendo desenvolvido pela Pxtech com muito carinho, estamos
                o
                criamos para proporcionarmos praticidade, agilidade e organização.</p>
              <p>

                Nós facilitararemos a comunicação entre nutricionista e cliente. Através desta ferramenta, o
                nutricionista
                conseguirá acompanhar com mais facilidade o tratamento do paciente.
              </p>
              <p>
                Ele terá vantagens e recursos exclusivos para melhor experiência tecnológica para ele e seus pacientes.

                Enriquecendo ainda mais seu atendimento, na nossa plataforma o paciente conseguirá ter acesso ao seu
                Histórico, assim vendo sua evolução, seu plano alimentar, receitas disponibilizadas pelo nutricionista e
                muito
                mais.
              </p>
              <p class="texto">
                Investindo no PxNutre o nutricionista recuperará um recurso que temos de mais valioso O TEMPO.
              </p>

              <p>
                O Px Nutri foi pensado para ser prático, contamos com uma documentação completa além de vídeos
                explicativos
                de
                como utilizar o sistema, e qualquer dúvida ou dificuldade é só solicitar ajuda no botão de suporte. Aqui
                na
                Pxtech prezamos sempre pela qualidade.

              </p>


              <p class="texto">
                E aí, está esperando o que para entrar em contato e ganhar descontos exclusivos?
              </p>
              <p class="texto">
                Vem! Estamos te esperamos.
              </p>
            </div>
          </div>
        </div>




        <mat-card>
          <p class="titulo" fxLayoutAlign="center center">Desenvolvedores </p>
          <div class="container espaco-card" fxLayout="row" fxLayoutAlign="center center">
            <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="31">
              <a href="https://br.linkedin.com/in/alexandre-santos-pxtech?trk=people-guest_people_search-card"
                target="_blank">
                <img id="ale" src="assets/images/ale.jpeg" width="300" height="350" />
              </a>
              <a href="https://br.linkedin.com/in/alexandre-santos-pxtech?trk=people-guest_people_search-card"
                target="_blank">
                <p class="titulo-card">Alexandre Santos</p>
              </a>
              <p class="texto">CEO PxTech</p>

              <p></p>
              <p></p>
            </mat-card>
            <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex="31">
              <a href="https://br.linkedin.com/in/pamela-araujo-pxtech?trk=people-guest_people_search-card"
                target="_blank">

                <img src="assets/images/pam.jpeg" width="300" height="350" />
              </a>
              <a href="https://br.linkedin.com/in/pamela-araujo-pxtech?trk=people-guest_people_search-card"
                target="_blank">

                <p class="titulo-card">Pâmela Araujo</p>
              </a>

              <p class="texto">CEO PxTech</p>

              <p></p>
              <p></p>
            </mat-card>
          </div>
        </mat-card>


        <div class="container">

          <p class="titulo" fxLayoutAlign="center center">
            Entre em contato
          </p>

          <p class="texto">
            Email: pxnutriatendimento@gmail.com
          </p>
          <p class="texto">
            Instagram:

            <a href="https://br.linkedin.com/in/alexandre-santos-pxtech?trk=people-guest_people_search-card"
              target="_blank">

              @pxnutri
            </a>
          </p>


        </div>
        <br>
        <br>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>
<mat-card class="cor-card-verde">

</mat-card>